body {
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px; /* It's a circle because it's half of width and height */
}

#todays-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
}
