body {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px; /* It's a circle because it's half of width and height */
}

h1 {
  font-family: "Oswald", sans-serif;
  color: red;
}
p {
  font-family: "Fira Sans", sans-serif;
  color: rgb(83, 75, 75);
}

a {
  color: rgb(79, 59, 68);
  text-decoration: none;
  /* cursor: progress; */
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
}
