<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs') %>
    </head>
    <body>
        <%- include('includes/header') %> <%- include('includes/side-drawer') %>
        <main>
            <h1>Something went wrong!</h1>
            <p>Unfortunately, Something went wrong, we are working on it.</p>
        </main>
    </body>
</html>
