body {
  background-color: rgb(246, 251, 252);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 1.8rem;
}

form {
  background-color: rgb(231, 232, 237);
  width: 40rem;
  margin: auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

section {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
label {
  color: rgb(52, 52, 126);
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(171, 171, 174);
  width: 100%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: rgba(246, 246, 255, 0.467);
}

.inline-control {
  display: flex;
}

.inline-control label {
  margin: 0;
  margin-left: 0.5rem;
}

.inline-control input {
  width: auto;
}
