body {
  background-color: rgb(246, 251, 252);
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  margin: 1.8rem;
  font-weight: 700;
}
h2 {
  font-weight: 700;
}

form {
  background-color: rgb(231, 232, 237);
  width: 25rem;
  margin: auto;
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0, 0, 2);
  border-radius: 6px;
  font-weight: 400;
}

section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input:focus {
  background-color: rgb(139, 157, 195);
}

textarea {
  background-color: rgb(139, 157, 195);
}
