main {
  width: 800px;
  margin: 200px auto 72px auto;
  background-color: rgb(219, 108, 94);
  padding: 24px;
  border: 5px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px; /* It's a circle because it's half of width and height */
}

#todays-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
}
